<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<h1 align="center">JOB LIST</h1>
<h2 align="center">
    <a th:href="@{/admin/jobs/new}">ADD JOBS</a>
</h2>
<table width="85%" border="1" align="center" style="margin-bottom: 20px ">
    <thead>
    <tr>
        <th>ID</th>
        <th>Job name</th>
        <th>Job Skill req</th>
        <th>Desc</th>
        <th>Company Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${jobs}" >
        <td th:text="${e.getId()}"></td>
        <td th:text="${e.getName()}"></td>
        <td>
            <th:block th:each="skill : ${e.getJobSkills()}">
                <p th:text="${skill}"></p>
            </th:block>
        </td>
        <td th:text="${e.getDescription()}"></td>
        <td th:text="${e.getCompany().getName()}"></td>
        <td>
            <a th:href="@{/admin/jobs/{id}(id=${e.getId()})}">View</a> <br>
            <a th:href="@{/admin/jobs/update/{id}(id=${e.getId()})}">Update</a> <br>
            <a th:href="@{/admin/jobs/delete/{id}(id=${e.getId()})}">Delete</a> <br>
        </td>
    </tr>
    </tbody>
</table>
<div align="center" style="margin: 50px " class="pagination">
    <span>Page: </span>
    <th:block th:each="e : ${pageNums}">
        <a th:href="${'?page='+(e+1)}" th:text="${e+1}" style="margin:0px 20px; display: inline-block"> </a>
    </th:block>
</div>

</body>
</html>